/* TEXT AND GENERAL STYLES */
body {
  background-color: #f8f8f8;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #70c3de;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

/* NAVBAR TITLE */
.navbar {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to left, #d69790, #ddaca8);
}
.navbar-brand {
  margin-top: 15px;
  font-size: 4em;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:visited {
    color: white;
    opacity: 0.75;
}
.navbar-default .navbar-brand:hover {
    color: white;
    opacity: 1.00;
}

/* NAVBAR MENU */
.nav-pills {
  margin: 0;
}
ul.nav {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav > li > a,
.nav > li > a:visited,
.nav > li > a:active,
.nav > li > a:focus {
  /*display: flex;*/
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  text-align: right;
  color: white;
  opacity: 0.75;
  background: none;
}
.nav > li > a:hover {
  opacity: 1.00;
  background: none;
}

/* NAVBAR BUTTON */
.navbar-default .navbar-toggle {
  border-color: white;
  border-width: 2px;
  opacity: 0.75;
  margin-top: 15px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
    opacity: 1.00;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* FOR MOBILE */
@media (max-width: 767px) {

  /* BLOG TITLE*/
  .navbar-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 7vw;
  }
  .nav > li > a {
    /*display: flex;*/
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    opacity: 0.75;
  }

  /* NAVBAR BUTTON */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
  }

  /* SIDEBAR MODULE */
  .sidebar-module {
    text-align: center;
  }

}
