body {
    background: #efe2d7;
    color: white;
}

.well {
    background: #7c3434;
    margin-top: 50px;
}

#quote-title {
    text-align: right;
}

button {
    margin-top: 5px;
    background: #b75f5f;
}

.fa-twitter {
    font-size: 20px;
}