body {
    background: #efe2d7;
    color: white;
    font-family: 'Merriweather', serif;
}

.big-quote {
    font-size: 50px;
}

.well {
    background: #7c3434;
    margin-top: 50px;
}

.fa-twitter {
    font-size: 20px;
}

#quote-title {
    text-align: right;
}

.btn,
.btn:visited,
.btn:active {
    margin-top: 20px;
    background: #b75f5f;
    color: white;
    transition: all .15s ease-in-out;
}

.btn:hover,
.btn.hover_effect {
    color: white;
    transform: scale(1.10);
}